{% extends 'layout.html'%}


{% block content %}


<h1>Book Details</h1>

<img class="book cover" src="{{ path + post.image }}" width='250' />
<hr>
<h2> Title: {{post.title}} </h2>
<a href="{{ url_for('book_author', author=post.author) }}"> {{ post.author }}</a>
<h4>Price: ${{post.price}}</h4>
<h4>Genre: {{ post.genre }}</h4>
<h4>Publisher: {{ post.publisher }}</h4>
<h5>Rating: {{post.book_rating}}</h5>
<h5>Summary: {{ post.summary }}</h5>


<hr>

<div class="reviews-form">

<h4>Submit a Review and Rating:</h4>

<form>
  <form method="POST">
    <div class="form-group form-inline">
      <div class="form-group col-lg-6 col-md-6 name">
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
      </div>									
    </div>
 
    <div class="form-group">
      <textarea name="message" class="form-control mb-10" rows="5" name="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
  </div>
  <button type="submit" class="btn btn-outline-info">Post Review</button> 

</form>

<hr>

</div>

<div class = "review-sec-area">
  <div class = "container">
    <h5>{{post.review}} Reviews and Ratings</h5>
    {% for review in reviews %}
    <div class = "review-list">
      <div class = "single-review justify-content-between d-flex ">

        <div class = " user justify-content between d-flex">
          <div class = "thumb">
            <img scr="img/blog.c1.jpg" alt="">
          </div>
          <div class="desc">
              <h5><a href= '#'>{{Review.username}} </a></h5>
              <p class = "date">{{post.pub_date.strfttime('%d %B %Y')}} </p>
              <p class = "review"> {{review.message}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}