{% extends "layout_narrow.html" %}


{% block content %}

<div class="content-section">
    <div class="media">
        <!--<img class="rounded-circle account-img" src="{{ image_file }}"> -->
        <div class="media-body">
            <h2 class="h3">Hello, {{ current_user.username }}</h2>
            <h2 class="h5">{{ current_user.street }}</h2>
            <h2 class="h5">{{ current_user.city }}, {{current_user.state}} {{current_user.zip}}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>

 

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Account Info and Home/Billing Address</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.street.label(class="form-control-label") }}

                {% if form.street.errors %}
                {{ form.street(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.street.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.street(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                {{ form.city(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.city(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.state.label(class="form-control-label") }}
                {% if form.state.errors %}
                {{ form.state(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.state.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.state(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zip.label(class="form-control-label") }}
                {% if form.zip.errors %}
                {{ form.zip(class="form-control form-control-md is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.zip.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.zip(class="form-control form-control-md") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <a href="{{url_for('change_password')}}">Change Password</a>
</div>

<div class="col-md-14">
    <div class="content-section">
      <h3>Addresses and Payments</h3>
      <p class='text-muted'>Add/Edit Shipping Addresses and Payment Methods.
        <ul class="list-group">
          <a class="nav-item nav-link" href="/shipping">Add/Edit Shipping Addresses</a>            
          <a class="nav-item nav-link" href="/payments">Add/Edit Payments</a>
        </ul>
      </p>
    </div>
  </div>

  
{% endblock content %}


