2{% extends "layout.html" %}

{% block content %}

<h2>{{ author }}</h2>
<br>
<h5><i>{{ authors.bio }}</i></h5>

<hr>
<br>


<div class="row" style="text-align: center">
{%for book in books%}

<div>
    <div class="media">
        <img class="book cover" src="{{ path + book.image }}" height='300' style="margin: 10px 30px 10px 20px;" />
    </div>

    <a href="{{ url_for('book', id=book.id) }}"> {{book.title}}</a>


    <h6>Price: ${{ book.price }}</h6>
    <h6>Rating: {{ book.book_rating }} ★ </h6>
    <h6>Date published: {{ book.date_published }}</h6>
    <br><br>
</div>  
    {% endfor %}

</div>




{% endblock content %}