{% extends 'layout.html'%}


{% block content %}



<h1>Book Details</h1>
<body> 
    <div class="container" 
         style="text-align: center;  
                margin-top: 5em;"> 
        <!-- Image to be enlarged and 
            onclick() function call-->
        <img src= "{{ path + post.image }}"           
          onclick="enlargeImg()" 
             id="img1" /> 
        <br /> 
        <br /> 
        <br /> 
        <!-- Button to reset the Image size -->
        <button onclick="resetImg()">Reset 
      </button> 
    </div> 

    <!-- script to set display property -->
    <script> 
        img = document.getElementById("img1"); 
        // Function to set image dimensions 
        function enlargeImg() { 
            img.style.width = "80%"; 
            img.style.height = "auto"; 
            img.style.transition = "width 0.5s ease"; 
        } 
        // Function to reset image dimensions 
        function resetImg() { 
            img.style.width = "40%"; 
            img.style.height = "auto"; 
            img.style.transition = "width 0.5s ease"; 
        } 
    </script> 
</body> 
<hr>
<h2> Title: {{post.title}} </h2>
<a href="{{ url_for('book_author', author=post.author) }}">Author: {{ post.author }}</a>
<h4>Price: ${{post.price}}</h4>
<h4>Genre: {{ post.genre }}</h4>
<h4>Publisher: {{ post.publisher }}</h4>
<h5>Rating: {{post.book_rating}}</h5>
<h5>Comments: {{ post.comments }}</h5>

<hr>


{% endblock %}
