{% extends 'layout.html'%}


{% block content %}



<h1>Book Details</h1>

<body>
    <div class="container" style="text-align: center;  
                margin-top: 5em;">
        <!-- Image to be enlarged and 
            onclick() function call-->
        <img src="{{ path + book.image }}" height="500" onclick="enlargeImg()" id="img1" />
        <p>Click on image to zoom</p>
        <br />
        <br />
        <br />
        <br>
        <br>
        <!-- Button to reset the Image size -->
        <button onclick="resetImg()">Reset Zoom
        </button>
    </div>

    <!-- script to set display property -->
    <script>
        img = document.getElementById("img1");
        // Function to set image dimensions 
        function enlargeImg() {
            //img.style.width = "80%"; 
            //img.style.height = "auto"; 
            img.style.transform = "scale(1.35)";
            img.style.transition = "width 0.5s ease";
        }
        // Function to reset image dimensions 
        function resetImg() {
            //img.style.width = "40%"; 
            //img.style.height = "auto"; 
            img.style.transform = "scale(1.0)";
            img.style.transition = "width 0.5s ease";
        }
    </script>
</body>
<hr>
<h2>{{book.title}} </h2>
<a href="{{ url_for('book_author', author=book.author) }}" style="color:blue;font-size:18px;"> Author: {{ book.author }}
</a>
<br><br>
<h4>Price: ${{book.price}}</h4>
<br>
<h5>Summary:<br><i>{{ book.summary }}</i></h5>
<br>
<h5>Genre: {{ book.genre }}</h5>
<h5>Publisher: {{ book.publisher }}</h5>
<h5>Rating: {{book.book_rating}}</h5>
<br>
<h4>Comments: {{ book.comments }}</h4>

<hr>


<!--  LUIS CODE  -->
<div class="reviews-form">

    <h4>Submit a Review and Rating:</h4>
    <h5> {{ current_user.username }}</h5>
    
      <form method="POST">
        <div class="form-group form-inline">		
        </div>

        <div class="form-group">
          <textarea name="message" class="form-control mb-10" rows="5" name="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
      </div>
      <button type="submit" class="btn btn-outline-info">Post Review</button> 
    
    </form>
    
    <hr>
    
    </div>


<h5>Reviews and Ratings</h5>
{% for review in reviews %}
    <p>{{ review.review }} </p>
{% endfor %}

{% endblock %}