{% extends "layout.html" %}


{% block content %}
<div class="content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Browse</legend>
            <div class="form-group">
                {{ form.select.label(class="form-control-label") }}
                {{ form.select(class="form-control-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
    </fieldset>
</div>


<div class="content">

    {%for book in books%}
    <div class="content-section">
        <div class="product-image">

        </div>
        <div class="product-info">
            <div class="media" >
                
                <img class="book cover" src="{{ path + book.image }}" width='250' />
            </div> 
            <h5>{{ book.title }}</h5>
            <h6>Author: {{ book.author }}</h6>
            <h6>Price: ${{ book.price }}</h6>
            <h6>Rating: {{ book.book_rating }}</h6>
            <h6>Date published: {{ book.date_published }}</h6>
            <form action="{{ url_for('addcart') }}" method="POST">
                <label for=""> Quantity:</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="99">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button type="submit" class="btn btn-outline-info">Add to Cart</button>
            </form>
        </div>
    </div>
    {%endfor%}

</div>
{% endblock content %}