{% extends "layout.html" %}


{% block content %}
<div class="content">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Browse</legend>
            <div class="form-group">
                {{ form.select.label(class="form-control-label") }}
                {{ form.select(class="form-control-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
    </fieldset>
</div>


<div class="content">
    <div class="row" style="text-align: center;" >
    {%for book in books.items%}
    <div class="content-section" style="margin: 10px 10px 10px 10px;">
       
        <div class="product-info">
            <a href="{{ url_for('book', id=book.id) }}">
                <div class="media">
                    <img class="book cover" src="{{ path + book.image }}" height='250' style="margin: 20px auto 10px auto;">
                </div>
                <h5>{{ book.title }}</h5>
            </a>
            <h6>Author: {{ book.author }}</h6>
            <h6>Price: ${{ book.price }}</h6>
            <h6>Rating: {{ book.book_rating }} ★</h6>
            <h6>Date published: {{ book.date_published }}</h6>
            <form action="{{ url_for('addcart') }}" method="POST">
                <label for=""> Quantity:</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="99">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button type="submit" class="btn btn-outline-info">Add to Cart</button>
            </form>
        {% set bookid = book.id|int %}
        <form action="{{ url_for('movetosaved', id=bookid) }}" method="POST">
            <button type="submit" class="btn btn-outline-info">Add to Saved</button>
            <br><br>
         </form>
        </div>
    </div>
    
    {%endfor%}
</div>
    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=5, right_current=5) %}
    {% if page_num %}
    {% if books.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('browse', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('browse', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {%endfor%}

</div>
{% endblock content %}