{% extends "layout_narrow.html" %}


{% block content%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Change Password</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") + ":"}}
                 {{form.email.data}}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content%}