{% extends "layout.html" %}


{% block content %}
    <h2>Browse our best sellers:</h2>

    <div class="row">
        
          <img src="{{ path + 'TheHungerGames.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;" >
          <img src="{{ path + 'CatchingFire.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'Mockingjay.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'Divergent.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'TheGiver.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'IPromise.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;" >
          <img src="{{ path + 'TheAlchemist.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'ThingsFallApart.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'DonQuixote.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
          <img src="{{ path + 'AnimalFarm.jpg'}}"  height='250' style="margin: 10px 10px 10px 10px;">
    </div>
{% endblock content %}