{% extends "layout.html" %}


{% block content %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add Shipping Addresses:</legend>

        <div class="form-group">
            {{ form.street.label(class="form-control-label") }}

            {% if form.street.errors %}
            {{ form.street(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.street.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.street(class="form-control form-control-md") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.city.label(class="form-control-label") }}
            {% if form.city.errors %}
            {{ form.city(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.city.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.city(class="form-control form-control-md") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.state.label(class="form-control-label") }}
            {% if form.state.errors %}
            {{ form.state(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.state.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.state(class="form-control form-control-md") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.zip.label(class="form-control-label") }}
            {% if form.zip.errors %}
            {{ form.zip(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.zip.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.zip(class="form-control form-control-md") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

<div class="content-section">
    <h4 class="h4">Shipping Addresses</h4>
    <br>
    {% for entry in shipping %}
    <div>
        <h5 class="h5">{{ entry.street }}</h5>
        <h2 class="h5">{{ entry.city }}, {{entry.state}} {{entry.zip}}</h2>
        <a href= "{{url_for('removeshipping', shipping_id=entry.id)}}">Remove</a> <br>
        <br>
    {% endfor %}
    </div>
</div>

{% endblock content %}